@import "../variables.scss";
.invoices-filter-menu {
    width: 100%;
    height: 100px;
    position: absolute;
}

.invoices-filter-menu-visible {
    display: block;
}

.invoices-filter-menu-hidden {
    display: none;
}

.invoices-filter-menu-bright-mode {
    background: white;
}

.invoices-filter-menu-dark-mode {
    background: $blueMarin;
}