@import "../variables.scss";

.invoices {
    max-width: 730px;
    margin-top: 77px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.invoices-header {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.invoices-body {
    overflow: auto;
}

.invoices-title-wrapper {
    margin-right: auto;
}

.invoices-title-bright-mode {
    color: black;
}

.invoices-title-dark-mode {
    color: white;
}

.number-of-invoices {
    color: $gray;
}

.img-empty {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .invoices {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 376px) {
    .invoices {
        margin: 32px 24px 0 24px;
    }
    .invoices-header {
        margin-bottom: 55px;
    }
}