@import "../variables.scss";

.invoices {
    max-width: 730px;
    margin-top: 77px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.invoices-header {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}


.invoices-title-wrapper {
    margin-right: auto;
}

.invoices-title-bright-mode {
    color: $black;
}

.invoices-title-dark-mode {
    color: white;
}

.number-of-invoices {
    color: $gray;
}

.no-invoices-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-invoices-wrapper > p {
    max-width: 24ch;
    text-align: center;
}

.no-invoices-heading {
    margin-top: 63px;
    margin-bottom: 23px;
}


.no-invoices-heading-bright-mode, 
.no-invoices-paragraph-mode {
    color: $black;
}

.no-invoices-heading-dark-mode {
    color: white;
}

.no-invoices-paragraph-dark-mode {
    color: $lightBlueishGray;
}

.img-empty {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .invoices {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 376px) {
    .invoices {
        margin: 32px 24px 0 24px;
    }
    .invoices-header {
        margin-bottom: 55px;
    }

    .no-invoices-heading {
        margin-top: 42px;
    }
}