@import "../variables.scss";

.user-bar {
    width: 103px;
    background: $darkBlueMarin;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    z-index: 2;
}



@media (max-width: 768px) {
    .user-bar {
        width: auto;
        height: 80px;
        flex-direction: row;
        border-radius: 0;
    }
  }


  @media (max-width: 376px) {
    .user-bar {
        height: 72px;
    }
  }

