@import "../../variables.scss";

.add-invoice-btn {
    border: none;
    border-radius: 100px;
    background-color: $brightIndigo;
    color: white;
    display: flex;
    align-items: center;
    height: 48px;
}

.add-invoice-btn:hover {
    background-color: $lightIndigo;
}

.add-invoice-btn-plus-sign-wrapper {
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.add-invoice-btn-text {
    padding: 0 15px;
}


