@import "../../variables.scss";

.add-new-item-button {
    border: none;
    border-radius: 100px;
    color: $blueishGray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding-left: 18px;
    padding-right: 18px;
}

.add-new-item-button-bright-mode {
    background-color: #F9FAFE;
}

.add-new-item-button-dark-mode {
    background-color: $darkBlueMarin;
}

.add-new-item-button:hover {
    background-color: $lightBlueishGray;
}

