@import "../../variables.scss";

.btn1 {
    border: none;
    border-radius: 100px;
    background-color: $brightIndigo;
    color: white;
    display: flex;
    align-items: center;
    height: 48px;
}

.btn1:hover {
    background-color: $lightIndigo;
}

.btn1-plus-sign-wrapper {
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.btn1-text {
    padding: 0 15px;
}


