@import "../../variables.scss";

.btn6 {
    border: none;
    border-radius: 100px;
    background-color: #F9FAFE;
    color: $blueishGray;
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 18px;
    padding-right: 18px;
}

.btn6:hover {
    background-color: $lightBlueishGray;
}

