@import "../../variables.scss";

.secondary-button {
    border: none;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 25px;
    padding-right: 25px;
    transition-property: all;
    transition-duration: 1s;
}

.secondary-button-bright-mode {
    background-color: #F9FAFE;
    color: $blueishGray;
}

.secondary-button-bright-mode:hover {
    background-color: $lightBlueishGray;
    color: $blueishGray;
}

.secondary-button-dark-mode {
    background-color: $blueMarin;
    color: $lightBlueishGray;
}

.secondary-button-dark-mode:hover {
    background-color: white;
    color: $lightBlueishGray;
}
