@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";


button {
    cursor: pointer;
}

.app {
    display: flex;
    position: relative;
    transition-property: all;
    transition-duration: 1s;
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

// .main-content-height-for-modal {
//     height: 100vh;
// }


.app-bright-mode {
    background: $lightBg;
}

.app-dark-mode {
    background: $black;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
        // height: auto;
        min-height: 100%;
    }
  }

@media(min-width: 769px) {
    .main-content-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}