@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";


button {
    cursor: pointer;
}

.app {
    height: 100vh;
    display: flex;
}

.main-content-wrapper {
    width: 100%;
}

.app-bright-mode {
    background: $lightBg;
}

.app-dark-mode {
    background: $black;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }
  }