@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";


button {
    cursor: pointer;
}

.app {
    height: 100vh;
    display: flex;
}

.main-content-wrapper {
    flex-grow: 1;
}

.app-bright-mode {
    background: $lightBg;
}

.app-dark-mode {
    background: $black;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }
  }

@media(min-width: 769px) {
    .main-content-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }
}