//colors
$brightIndigo: #7C5DFA;
$lightIndigo: #9277FF;
$darkBlueMarin: #1E2139;
$blueMarin: #252945;
$lightBlueishGray: #DFE3FA;
$gray: #888EB0;
$blueishGray: #7E88C3;
$black: #0C0E16;
$brightRed: #EC5757;
$lightRed: #ff7777;
$lightBg: #F8F8FB;
$darkBg: #141625;
// fonts
$mainFont: 'League Spartan';
