@import "../../variables.scss";

.dropdown-wrapper {
    position: relative;
}

.dropdown {
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    transition-property: all;
    transition-duration: 1s;
}

.dropdown-bright-mode {
    border: 1px solid $lightBlueishGray;
}

.dropdown-bright-mode-focused {
    border-color: $lightIndigo;
}

.dropdown-dark-mode {
    background-color: $darkBlueMarin;
    border: 1px solid $blueMarin;
    color: white;
    caret-color: $brightIndigo;
}

.dropdown-arrow-down {
    margin-left: auto;
}

.dropdown-content-wrapper {
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
}

.dropdown-content-wrapper-bright-mode {
    box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
}


.dropdown-content-hidden {
    display: none;
}