@import "../../variables.scss";

.label {
    display: block;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
}

.label-bright-mode {
    color: $blueishGray;
}

.label-dark-mode {
    color: $lightBlueishGray;
}

.label-error-message {
    color: $brightRed;
}