@import "../../variables.scss";

.text-field {
    border: 1px solid $lightBlueishGray;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    box-sizing: border-box;
}

.text-field:focus {
    outline: none;
    border-color: $lightIndigo;
}